alias ls='ls -CF'
alias ll='ls -l'
alias la='ls -a'
alias lla='ls -la'
#alias tmux='tmux -2'

if [ -x /usr/bin/dircolors ]; then
  test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
  alias ls='ls --color=auto -CF'
  alias dir='dir --color=auto'
  alias vdir='vdir --color=auto'

  alias grep='grep --color=auto'
  alias fgrep='fgrep --color=auto'
  alias egrep='egrep --color=auto'
fi

if command -v nvim >/dev/null 2>&1 ; then
  alias vim='nvim'
  alias view='nvim -R'
fi

if command -v rlwrap >/dev/null 2>&1 ; then
  if command -v hol >/dev/null 2>&1 ; then
    alias hol='rlwrap hol'
  fi
fi
